<h1>Bienvenido al sitio de Registro Aduanero de Barcos</h1>
<ul>
    <li>
        <a href="/Barcos/RegistrarBarco">Registrar Barco</a>
    </li>
    <li>
        <a href="/Barcos/ListadoBarcos">Ver Listado de Barcos</a>
    </li>
</ul>